<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated during build -->
<?include "..\dokanver.xml"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'>
  <Bundle Name="Keybase" Version="$(env.KEYBASE_WINVER)" Manufacturer="Keybase, Inc." UpgradeCode="418432ab-0366-40fd-a396-8cc0c4200252">

    <Variable Name="DokanInstallFolder" Type="string" Value="[ProgramFiles6432Folder]Dokan\Dokan Library-1.0.0"/>

    <Variable Name="driver" bal:Overridable="yes" />
    <Variable Name="driver" bal:Overridable="yes" Persisted="yes"/>
    <Variable Name="modifyprompt" bal:Overridable="yes" Value="Modify Setup" />
    
    <Log PathVariable="LOGPATH_PROP"/>
    <util:FileSearchRef Id='WINTRUST_FileSearch' />
    <util:RegistrySearchRef Id='InnoCLIUninstall' />
    <util:RegistrySearchRef Id='InnoCLIUninstall64' />
    <util:RegistrySearchRef Id='InnoKBFSUninstall' />
    <util:RegistrySearchRef Id='InnoKBFSUninstall64' />
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
            LicenseUrl="https://keybase.io/docs/terms"
            ThemeFile="HyperlinkTheme.xml"
            LocalizationFile="HyperlinkTheme.wxl"
            LogoFile="$(env.GOPATH)\src\github.com\keybase\client\media\icons\icon-keybase-logo-windows-64.png"
            LicenseFile="license.rtf"
            ShowVersion="yes"
            SuppressOptionsUI="yes"
            />
    </BootstrapperApplicationRef>

    <!-- Dokany 
         This is the target we need to install with. If it's not there,
         we may need to invoke the dokan cleaner. -->
    <util:RegistrySearch Id="DokanUninstall"
             Variable="DokanUninstallString"
             Root="HKLM"
             Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$(var.DokanProductCodeX86)"
             Value="UninstallString"
             Format="raw"
             />
    <util:RegistrySearch Id="DokanUninstall64"
                 After="DokanUninstall"
                 Condition="NOT DokanUninstallString"
                 Variable="DokanUninstallString"
                 Root="HKLM"
                 Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$(var.DokanProductCodeX64)"
                 Value="UninstallString"
                 Format="raw"
                 Win64="yes"
                 />

    <!-- Split Installer Driver Update Detection: previous dokan installed by
         us indicates we're updating drivers now too. Look for our breadcrumb
         codes from previous install -->
    <util:RegistrySearch Id="PreviousDokan"
             After="DokanUninstall64"
             Variable="PreviousDokan"
             Condition="NOT VersionNT64 AND NOT DokanUninstallString"
             Root="HKCU"
             Key="SOFTWARE\Keybase\Keybase"
             Value="DOKANPRODUCT86"
             Format="raw"
             />
    <util:RegistrySearch Id="PreviousDokan64"
             After="PreviousDokan"
             Variable="PreviousDokan64"
             Condition="VersionNT64 AND NOT DokanUninstallString"
             Root="HKCU"
             Key="SOFTWARE\Keybase\Keybase"
             Value="DOKANPRODUCT64"
             Format="raw"
             />
    <!-- Now see if there is an uninstall entry for either one, and activate our driver variable.
         Gating on NOT DokanUninstallString because that would mean the same drivers are present. -->
    <util:RegistrySearch Id="PreviousDokanUninstall"
            After="PreviousDokan64"
             Variable="driver"
             Root="HKLM"
             Condition="PreviousDokan AND NOT driver AND NOT DokanUninstallString"
             Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[PreviousDokan]"
             Value="UninstallString"
             Result="exists"
             />
    <util:RegistrySearch Id="PreviousDokanUninstall64"
                 After="DokanUninstall"
                 Condition="PreviousDokan64 AND  NOT driver AND NOT DokanUninstallString"
                 Variable="driver"
                 Root="HKLM"
                 Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[PreviousDokan64]"
                 Value="UninstallString"
                 Result="exists"
                 Win64="yes"
                 />                 

    <util:FileSearch Id="SearchSystem"
                     Path="[SystemFolder]advapi32.dll"
                     Variable="ADVAPIVERSION"
                     Result="version"
                     />

    <util:FileSearch Id="SearchSystem2"
                     Path="[SystemFolder]ucrtbase.dll"
                     Variable="UCRTVERSION"
                     Result="version"
                     />

    <util:FileSearch Id="SearchSystem3"
                     Path="[WindowsFolder]System32\ucrtbase.dll"
                     Variable="UCRTVERSION64"
                     Result="version"
                       />
    
    <util:RegistrySearch Id="vcredist_2017_x86_check" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VC\Servicing\14.0\RuntimeMinimum" Value="Install" Variable="vcredist_2017_x86_installed" Win64="no"/>
    <util:RegistrySearch Id="vcredist_2017_x86_versioncheck" Root="HKLM" Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_x86,v14" Value="Version" Variable="vcredist_2017_x86_version" Result="exists" Win64="no"/>
    <util:RegistrySearch Id="vcredist_2017_x86_versionnumbercheck" Root="HKLM" Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_x86,v14" Value="Version" Variable="vcredist_2017_x86_versionnumber" Result="value" Win64="no"/>

    <util:RegistrySearch Id="vcredist_2017_x64_check" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VC\Servicing\14.0\RuntimeMinimum" Value="Install" Variable="vcredist_2017_x64_installed" Win64="yes"/>
    <util:RegistrySearch Id="vcredist_2017_x64_versioncheck" Root="HKLM" Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_amd64,v14" Value="Version" Variable="vcredist_2017_x64_version" Result="exists" Win64="yes"/>
    <util:RegistrySearch Id="vcredist_2017_x64_versionnumbercheck" Root="HKLM" Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_amd64,v14" Value="Version" Variable="vcredist_2017_x64_versionnumber" Result="value" Win64="yes"/>


    <bal:Condition Message="Installation failed because your version of Windows is too old. Dokan requires Windows 7 SP1 or newer."><![CDATA[NOT driver OR Installed OR VersionNT > v6.1 OR (VersionNT = v6.1 AND ServicePackLevel >= 1)]]></bal:Condition>
    
    <Chain>
      <PackageGroupRef Id="NetFx40Web"/>
      
      <!-- Remember: if DetectCondition is true, this package is considered already present. 
        WixBundleAction of 4 means install. 3 is uninstall, 5 is upgrade, 7 is repair
        Making this permanent prevents it from being invoked on uninstall or other removal.
      -->
      <ExePackage
        SourceFile="$(var.DOKAN_PATH)\dokanclean.exe"
        DetectCondition="DokanUninstallString OR NOT driver"
        Description="Remove previous drivers"
        PerMachine="yes"
        Permanent="yes"
        Compressed="no"
        DownloadUrl="https://prerelease.keybase.io/windows-support/dokan-dev/build85/dokanclean.exe"
        >
        <ExitCode Value="1641" Behavior="forceReboot"/>
        <ExitCode Value="3010" Behavior="forceReboot"/>
        <ExitCode Value="0" Behavior="success" />
      </ExePackage>

      <!-- Note there are 2 VC redistributable package entries, one for x86 and one for x64,
 	   which need to remain in sync. Also, "repair" doesn't seem to work, so we omit that attribute -->	    
      <ExePackage Id="vcredist_2017_x86.exe"
            Name="vc_redist.x86.exe"
            InstallCommand="/norestart /passive /chainingpackage ADMINDEPLOYMENT"
            UninstallCommand="/uninstall /norestart /passive /chainingpackage ADMINDEPLOYMENT"
            Protocol="netfx4"
            Compressed="$(var.Compressed)"
            Permanent="yes"
            DetectCondition="(vcredist_2017_x86_installed AND vcredist_2017_x86_version AND vcredist_2017_x86_versionnumber &gt;= v$(var.VCRedistVersion)) OR NOT driver"
            PerMachine="yes"
            Vital="yes"
            Cache="no"
            SuppressSignatureVerification="yes"
            SourceFile="Redist\vcredist_2017\vc_redist.x86.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/11100229/78c1e864d806e36f6035d80a0e80399e/VC_redist.x86.exe"
            >
        <ExitCode Value="1641" Behavior="scheduleReboot"/>
        <ExitCode Value="3010" Behavior="scheduleReboot"/>
        <ExitCode Value="0" Behavior="success" />
      </ExePackage>
      
      <!-- Note there are 2 VC redistributable package entries, one for x86 and one for x64,
 	   which need to remain in sync -->
      <ExePackage Id="vcredist_2017_x64.exe"
                  Name="vc_redist.x64.exe"
                  InstallCommand="/norestart /passive /chainingpackage ADMINDEPLOYMENT"
                  UninstallCommand="/uninstall /norestart /passive /chainingpackage ADMINDEPLOYMENT"
                  Protocol="netfx4"
                  Compressed="$(var.Compressed)"
                  Permanent="yes"
                  InstallCondition="VersionNT64"
                  DetectCondition="(vcredist_2017_x64_installed AND vcredist_2017_x64_version AND vcredist_2017_x64_versionnumber &gt;= v$(var.VCRedistVersion)) OR NOT driver"
                  PerMachine="yes"
                  Vital="yes"
                  Cache="yes"
                  SuppressSignatureVerification="yes"
                  SourceFile="Redist\vcredist_2017\vc_redist.x64.exe"
                  DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/11100230/15ccb3f02745c7b206ad10373cbca89b/VC_redist.x64.exe"
                  >
        <ExitCode Value="1641" Behavior="scheduleReboot"/>
        <ExitCode Value="3010" Behavior="scheduleReboot"/>
        <ExitCode Value="0" Behavior="success" />
      </ExePackage>

      <MsiPackage Name="Dokan_x86.msi"
                  SourceFile="$(var.DOKAN_PATH)\dokan_wix\bin\x86\$(var.Configuration)\Dokan_x86.msi"
                  InstallCondition="NOT VersionNT64 AND (driver OR DokanUninstallString)"
                  Compressed="no"
                  Visible="yes"
                  Permanent="yes"
		  DownloadUrl="https://prerelease.keybase.io/windows-support/dokan-dev/build85/dokan_wix/bin/x86/$(var.Configuration)/Dokan_x86.msi"
                  >
        <!--<MsiProperty Name="ADDLOCAL" Value="ALL" />-->
        <MsiProperty Name="MSIUNINSTALLSUPERSEDEDCOMPONENTS" Value="1"/>
        <MsiProperty Name="INSTALLDIR" Value="[DokanInstallFolder]" />
        <MsiProperty Name="INSTALLDEVFILES" Value="0" />
      </MsiPackage>

      <MsiPackage Name="Dokan_x64.msi"
                  SourceFile="$(var.DOKAN_PATH)\dokan_wix\bin\x64\$(var.Configuration)\Dokan_x64.msi"
                  InstallCondition="VersionNT64 AND (driver OR DokanUninstallString)"
                  Compressed="no"
                  Visible="yes"
                  Permanent="yes"
		  DownloadUrl="https://prerelease.keybase.io/windows-support/dokan-dev/build85/dokan_wix/bin/x64/$(var.Configuration)/Dokan_x64.msi"
                  >
        <!--<MsiProperty Name="ADDLOCAL" Value="ALL" />-->
        <MsiProperty Name="MSIUNINSTALLSUPERSEDEDCOMPONENTS" Value="1"/>
        <MsiProperty Name="INSTALLDIR" Value="[DokanInstallFolder]" />
        <MsiProperty Name="INSTALLDEVFILES" Value="0" />
      </MsiPackage>

      <MsiPackage Id="KeybasePrograms"
                  SourceFile="$(var.KeybaseApps.TargetPath)"
                  DisplayInternalUI='no'
                  Permanent="no">
        <MsiProperty Name="DOKANPRODUCT86" Value="$(var.DokanProductCodeX86)" />
        <MsiProperty Name="DOKANPRODUCT64" Value="$(var.DokanProductCodeX64)" />
	      <MsiProperty Name="BUNDLEKEY" Value="[WixBundleProviderKey]" />
        <MsiProperty Name="BUNDLEFILE" Value="[WixBundleOriginalSource]" />
      </MsiPackage>

    </Chain>
  </Bundle>
  <Fragment>    
    <util:FileSearch Id="WINTRUST_FileSearch"
                     Path="[SystemFolder]Wintrust.dll"
                     Variable="WINTRUSTVERSION"
                     Result="version"
                     />
    <!-- check for GDR/LDR version. See https://github.com/dokan-dev/dokany/commit/9782a6491775ef3660a71f40f381d3f48e511f14 -->
    <bal:Condition
      Message="Microsoft patch KB3033929 is not installed. A reboot is needed between the installation of said patch and the installation of Keybase. https://support.microsoft.com/en-us/kb/3033929">
      <![CDATA[Installed OR VersionNT > v6.1 OR (VersionNT = v6.1 AND ((WINTRUSTVERSION >= v6.1.7601.18741 AND WINTRUSTVERSION <= v6.1.7601.22000) OR WINTRUSTVERSION >= v6.1.7601.22947))]]>
    </bal:Condition>
  </Fragment>
  <Fragment>
    <util:RegistrySearch
          Id='InnoCLIUninstall'
          Variable="InnoCLIInstalled"
          Result="exists"
          Root="HKLM"
          Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{70E747DE-4E09-44B0-ACAD-784AA9D79C02}_is1"
          Value="UninstallString" />

    <util:RegistrySearch
          Id='InnoCLIUninstall64'
          After="InnoCLIUninstall"
          Variable="InnoCLIInstalled"
          Condition="NOT InnoCLIInstalled"
          Result="exists"
          Root="HKLM"
          Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{70E747DE-4E09-44B0-ACAD-784AA9D79C02}_is1"
          Value="UninstallString" 
          Win64="yes"/>

    <!-- These two are for the older inno based KBFS -->
    <util:RegistrySearch Id="InnoKBFSUninstall"
                 Variable="InnoKBFSUninstallString"
                 Root="HKLM"
                 Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{357F272E-BE0E-409F-8E39-0BB9827F5716}_is1"
                 Value="QuietUninstallString"
                 Format="raw"
                 />
    <util:RegistrySearch Id="InnoKBFSUninstall64"
                 After="InnoKBFSUninstall"
                 Condition="NOT InnoKBFSUninstallString"
                 Variable="InnoKBFSUninstallString"
                 Root="HKLM"
                 Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{357F272E-BE0E-409F-8E39-0BB9827F5716}_is1"
                 Value="QuietUninstallString"
                 Format="raw"
                 Win64="yes"
                 />

    <bal:Condition
      Message="Please uninstall any previous Keybase versions before continuing.">
      <![CDATA[NOT InnoCLIInstalled AND NOT InnoKBFSUninstallString]]>
    </bal:Condition>
  </Fragment>

</Wix>
