<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'>
  <Bundle Name="Keybase" Version="$(env.KEYBASE_WINVER)" Manufacturer="Keybase, Inc." UpgradeCode="418432ab-0366-40fd-a396-8cc0c4200252">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
            LicenseUrl="https://keybase.io/docs/terms"
            ThemeFile="HyperlinkTheme.xml"
            LocalizationFile="HyperlinkTheme.wxl"
            LogoFile="$(env.GOPATH)\src\github.com\keybase\client\media\icons\icon-keybase-logo-windows-64.png"
            LicenseFile="license.rtf"
            ShowVersion="yes"
            SuppressOptionsUI="yes"
            />
    </BootstrapperApplicationRef>

    <Chain>
      <PackageGroupRef Id="NetFx40Web"/>

      <MsiPackage Id="KeybasePrograms"
                  SourceFile="$(var.KeybaseApps.TargetPath)"
                  DisplayInternalUI='no'
                  Permanent="no">
      </MsiPackage>

    </Chain>
  </Bundle>

</Wix>
