.hoverbox {
  background: var(--color-greyLight);
  border-color: var(--color-greyDark);
  &.filled {
    background-color: var(--color-white);
    border-color: var(--color-grey);
    borderstyle: solid;
    cursor: -webkit-grab;
    &:active {
      cursor: -webkit-grabbing;
    }
    &:hover {
      background-color: var(--color-white);
      border-color: var(--color-grey);
    }
  }

  &:hover {
    border-color: var(--color-black_50);
    .icon {
      color: var(--color-black_50);
    }
  }

  .dropping & {
    background-color: var(--color-blue_60);
    border-color: var(--color-blue_60);
    .icon {
      color: var(--color-blue_60);
    }
  }
}
