npm-debug.log
node_modules
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.xcuserstate
.DS_Store
Carthage/Build
DerivedData
build/
project.xcworkspace
xcuserdata
shared
fastlane/README.md

*.iml
index.bundle