npm-debug.log
node_modules
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.xcuserstate
.DS_Store
Carthage/Build
DerivedData
build/
npm-debug.log
project.xcworkspace
xcuserdata
Pods
shared
fastlane/README.md

keybase.framework

main.jsbundle

# Android
#
android/local.properties
android/.gradle
android/keybaselib/keybaselib.aar
android/.idea
*.iml
index.bundle

# iOS
ios/AppStore_keybase.ios.KeybaseShare.mobileprovision
ios/AppStore_keybase.ios.mobileprovision

# Builds
ios/dist
android/dist