[Unit]
Description=socket for the Keybase core service

[Socket]
# %t is the $XDG_RUNTIME_DIR
ListenStream=%t/keybase/keybased.sock

[Install]
WantedBy=sockets.target
