<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildFlavor</key>
	<string></string>
	<key>BuildMachineOSBuild</key>
	<string>16G24b</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.kbfuse.filesystems.kbfuse</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>kbfuse</string>
	<key>CFBundlePackageType</key>
	<string>fs </string>
	<key>CFBundleShortVersionString</key>
	<string>3.6.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3.6.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7A1001</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0701</string>
	<key>DTXcodeBuild</key>
	<string>7A1001</string>
	<key>FSPersonalities</key>
	<dict>
		<key>Beagle</key>
		<dict>
			<key>FSName</key>
			<string>Beagle File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>9</integer>
		</dict>
		<key>BraveFS</key>
		<dict>
			<key>FSName</key>
			<string>BraveFS (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>42</integer>
		</dict>
		<key>Crypto</key>
		<dict>
			<key>FSName</key>
			<string>Crypto File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>10</integer>
		</dict>
		<key>FTP</key>
		<dict>
			<key>FSName</key>
			<string>FTP File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>3</integer>
		</dict>
		<key>Generic</key>
		<dict>
			<key>FSName</key>
			<string>Generic File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>0</integer>
		</dict>
		<key>NTFS-3g</key>
		<dict>
			<key>FSName</key>
			<string>NTFS-3g (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>8</integer>
		</dict>
		<key>Picasa</key>
		<dict>
			<key>FSName</key>
			<string>Picasa File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>6</integer>
		</dict>
		<key>SSH</key>
		<dict>
			<key>FSName</key>
			<string>SSH File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>2</integer>
		</dict>
		<key>Spotlight</key>
		<dict>
			<key>FSName</key>
			<string>Spotlight File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>5</integer>
		</dict>
		<key>WebDAV</key>
		<dict>
			<key>FSName</key>
			<string>WebDAV File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>4</integer>
		</dict>
		<key>dead</key>
		<dict>
			<key>FSName</key>
			<string>Dead File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>-1</integer>
		</dict>
		<key>proc</key>
		<dict>
			<key>FSName</key>
			<string>Process File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>7</integer>
		</dict>
		<key>xmp</key>
		<dict>
			<key>FSName</key>
			<string>PassThrough File System (KBFUSE)</string>
			<key>FSSubType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
