# This file only affects the keybase/client builds.
.circleci
.codecov.yml
.dockerignore
.editorconfig
.git
.gitattributes
.gitignore
.pre-commit-config.yaml
.prettierignore
.prettierrc
CODEOWNERS
Jenkinsfile
LICENSE
README.md
browser
docker-compose.yml
git-hooks
media
osx
packaging/linux/docker
!packaging/linux/docker/standard/entrypoint.sh
!packaging/linux/docker/slim/entrypoint.sh
!packaging/linux/docker/gosu_key.asc
!packaging/linux/docker/tini_key.asc
protocol
pvl-tools
shared
