/desktop/build/**
/desktop/dist/**
/desktop/release/**
/desktop/node_modules
/desktop/shared
/desktop/js-vendor-desktop
/react-native/node_modules
/react-native/shared
/shared/libs/immutable-interface.js
/shared/libs/flow-interface.js
/shared/flow-typed/**
/shared/constants/types/keybase-v1.js
/shared/constants/types/flow-types.js
/shared/constants/types/flow-types-gregor.js
/shared/constants/types/flow-types-chat.js
/visdiff/node_modules
/visdiff/dist
/git-hooks
/go
/media
/osx
/packaging
/protocol
