{
    "parser": "babel-eslint",
    "extends": ["standard", "standard-react"],
    "plugins": [
        "flow-vars"
    ],
    "rules": {
        "standard/object-curly-even-spacing": [2, "never"],
        "standard/array-bracket-even-spacing": [2, "never"],
        "standard/computed-property-even-spacing": [2, "never"],
        "strict": [2, "global"],
        "arrow-parens": [2, "as-needed"]
    }
}
