/shared/desktop/build/**
/shared/desktop/dist/**
/shared/desktop/release/**
/shared/libs/immutable-interface.js
/shared/libs/flow-interface.js
/shared/node_modules
/shared/flow-typed/**
/shared/constants/types/keybase-v1.js
/shared/constants/types/flow-types.js
/shared/constants/types/flow-types-gregor.js
/shared/constants/types/flow-types-chat.js
/visdiff/node_modules
/visdiff/dist
/git-hooks
/go
/media
/osx
/packaging
/protocol
