/desktop/build/**
/desktop/dist/**
/desktop/release/**
/desktop/node_modules
/desktop/shared
/react-native/node_modules
/react-native/shared
/shared/libs/immutable-interface.js
/shared/libs/flow-interface.js
/shared/constants/types/keybase-v1.js
/shared/constants/types/flow-types.js
/git-hooks
/go
/media
/osx
/packaging
/protocol
