# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# OSX BS
.DS_Store

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

go/keybase/keybase
go/mounter/keybase-mount-helper/keybase-mount-helper
go/revision

*-fuzz.zip

# Xcode
./build
# vscode
.vscode
# intellij
.idea

npm-debug.log
yarn-error.log
shared/dist
shared/coverage
shared/node_modules
shared/.static-storybook
shared/fonts-for-web
shared/constants/types/rpc*js*
shared/report.*.json
packaging/desktop/node_modules
packaging/prerelease/node_modules
visdiff/node_modules
pvl-tools/node_modules
shared/.tsOuts/.*
# Storybook
shared/.cache
node_modules
.gradle
rnmodules/react-native-drop-view/android/build
rnmodules/react-native-kb/android/build
rnmodules/react-native-kb/android/.cxx

Keybase.app.dSYM.zip

# shared/ios/fastlane # already checked in?
shared/android/keybaselib/keybaselib-sources.jar
shared/android/app/.idea/
shared/android/captures
shared/android/app/local.properties

browser/node_modules
browser/js/bundle.js
go/.go_package_deps*

# Files used during the Docker build
.docker

# Files used during Vagrant smoketests
.vagrant
*cloudimg-console.log

# CI artifact
go/keybase/keybase_production
go/keybase_freebsd
go/keybase_netbsd
go/keybase_openbsd

