# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.js linguist-language=JSX
shared/actions/*-gen.js linguist-generated=true
shared/constants/types/rpc*.js linguist-generated=true
