# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.js linguist-language=JSX
shared/actions/*-gen.js linguist-generated=true
shared/flow-typed/* linguist-generated=true
shared/constants/types/rpc*.js linguist-generated=true
protocol/js/rpc*.js linguist-generated=true
shared/common-adapters/icon.constants.js linguist-generated=true
shared/images/iconfont/kb-icomoon-project-app.json linguist-generated=true
shared/images/iconfont/*.svg linguist-generated=true
*.snap linguist-generated=true
*.json linguist-language=JSON5
