# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.tsx  linguist-language=JSX
*.json linguist-language=JSON5
*.snap                                             linguist-generated=true
shared/actions/*-gen.tsx                           linguist-generated=true
shared/flow-typed/*                                linguist-generated=true
shared/constants/types/rpc*.tsx                    linguist-generated=true
shared/common-adapters/icon.constants.tsx          linguist-generated=true
shared/images/iconfont/kb-icomoon-project-app.json linguist-generated=true
shared/images/iconfont/*.svg                       linguist-generated=true
protocol/js/rpc*.tsx                               linguist-generated=true
protocol/json/keybase1/*.json                      linguist-generated=true
protocol/json/chat1/*.json                         linguist-generated=true
protocol/json/stellar1/*.json                      linguist-generated=true
go/protocol/keybase1/*.go                          linguist-generated=true
go/protocol/chat1/*.go                             linguist-generated=true
go/protocol/stellar1/*.go                          linguist-generated=true
go/protocol/keybase1/extras.go                     linguist-generated=false
go/protocol/chat1/extras.go                        linguist-generated=false
go/protocol/stellar1/extras.go                     linguist-generated=false
