bin/
debug/
release/
x64/
artifacts/
.vscode/
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
zec-qt-wallet
zec-qt-wallet.app
zec-qt-wallet-mingw*
zec-qt-wallet.vcxproj*
zec-qt-wallet.sln
zec-qt-wallet.pro.user
Makefile
Makefile.*
qrc_application.cpp
zec-qt-wallet_plugin_import.cpp
zec-qt-wallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
*.plist
zcashd