sudo: required
language: go
go:
  - 1.4
  - 1.5
services:
  - docker
before_install:
  - export DEBIAN_FRONTEND=noninteractive
  - sudo apt-get update
  - sudo apt-get upgrade -q -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" lxc-docker
script:
  - docker login -e $CI_EMAIL -u $CI_USER -p $CI_PASS $CI_HOST
  - docker pull $CI_HOST/kbweb
  - docker run --name kbweb3000 -d -p 3000:3000 $CI_HOST/kbweb
  - cd go && ./test/check_or_start_kbweb.sh && go test -v ./...
notifications:
  slack: keybase:WKlhs55Mb4am4obv1rNRg8P0
