/*
 This file is how we serve our custom Coinbase, etc., fonts on the website

 ALSO see fonts.styl
 SOURCE:
  1. Go to client and run `yarn update-icon-font`
  2. Copy client/shared/fonts-for-web/fonts.css here
  3. Copy fonts to public/fonts
*/

@font-face {
	font-family: "kb";
	src: url("kb.ttf?940e2a3c757b9e9c90e3515e9f95169f") format("truetype"),
url("kb.woff?940e2a3c757b9e9c90e3515e9f95169f") format("woff"),
url("kb.svg?940e2a3c757b9e9c90e3515e9f95169f#kb") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-kb-iconfont-"], [class*=" icon-kb-iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.1-kb-iconfont-add-16:before {
	content: "\e900";
}
.2-kb-iconfont-arrow-down-16:before {
	content: "\e901";
}
.3-kb-iconfont-arrow-full-down-16:before {
	content: "\e902";
}
.4-kb-iconfont-arrow-full-up-16:before {
	content: "\e903";
}
.5-kb-iconfont-arrow-left-16:before {
	content: "\e904";
}
.6-kb-iconfont-arrow-right-16:before {
	content: "\e905";
}
.7-kb-iconfont-arrow-up-16:before {
	content: "\e906";
}
.8-kb-iconfont-attachment-16:before {
	content: "\e907";
}
.9-kb-iconfont-bomb-16:before {
	content: "\e908";
}
.10-kb-iconfont-boom-16:before {
	content: "\e909";
}
.11-kb-iconfont-camera-16:before {
	content: "\e90a";
}
.12-kb-iconfont-camera-off-16:before {
	content: "\e90b";
}
.13-kb-iconfont-caret-down-8:before {
	content: "\e90c";
}
.14-kb-iconfont-caret-right-8:before {
	content: "\e90d";
}
.15-kb-iconfont-chat-16:before {
	content: "\e90e";
}
.16-kb-iconfont-check-16:before {
	content: "\e90f";
}
.17-kb-iconfont-clipboard-16:before {
	content: "\e910";
}
.18-kb-iconfont-clock-16:before {
	content: "\e911";
}
.19-kb-iconfont-close-16:before {
	content: "\e912";
}
.20-kb-iconfont-compose-16:before {
	content: "\e913";
}
.21-kb-iconfont-crown-admin-16:before {
	content: "\e914";
}
.22-kb-iconfont-crown-owner-16:before {
	content: "\e915";
}
.23-kb-iconfont-dollar-sign-16:before {
	content: "\e916";
}
.24-kb-iconfont-download-2-16:before {
	content: "\e917";
}
.25-kb-iconfont-download-16:before {
	content: "\e918";
}
.26-kb-iconfont-edit-16:before {
	content: "\e919";
}
.27-kb-iconfont-ellipsis-16:before {
	content: "\e91a";
}
.28-kb-iconfont-emoji-16:before {
	content: "\e91b";
}
.29-kb-iconfont-exclamation-16:before {
	content: "\e91c";
}
.30-kb-iconfont-file-note-16:before {
	content: "\e91d";
}
.31-kb-iconfont-finder-16:before {
	content: "\e91e";
}
.32-kb-iconfont-fire-16:before {
	content: "\e91f";
}
.33-kb-iconfont-folder-downloads-16:before {
	content: "\e920";
}
.34-kb-iconfont-folder-dropdown-16:before {
	content: "\e921";
}
.35-kb-iconfont-folder-new-16:before {
	content: "\e922";
}
.36-kb-iconfont-folder-open-16:before {
	content: "\e923";
}
.37-kb-iconfont-folder-private-16:before {
	content: "\e924";
}
.38-kb-iconfont-folder-private-me-16:before {
	content: "\e925";
}
.39-kb-iconfont-folder-public-16:before {
	content: "\e926";
}
.40-kb-iconfont-folder-public-16:before {
	content: "\e927";
}
.41-kb-iconfont-folder-up-16:before {
	content: "\e928";
}
.42-kb-iconfont-gear-16:before {
	content: "\e929";
}
.43-kb-iconfont-hamburger-16:before {
	content: "\e92a";
}
.44-kb-iconfont-hand-wave-16:before {
	content: "\e92b";
}
.45-kb-iconfont-identity-bitcoin-16:before {
	content: "\e92c";
}
.46-kb-iconfont-identity-devices-16:before {
	content: "\e92d";
}
.47-kb-iconfont-identity-facebook-16:before {
	content: "\e92e";
}
.48-kb-iconfont-identity-github-16:before {
	content: "\e92f";
}
.49-kb-iconfont-identity-hn-16:before {
	content: "\e930";
}
.50-kb-iconfont-identity-pgp-16:before {
	content: "\e931";
}
.51-kb-iconfont-identity-reddit-16:before {
	content: "\e932";
}
.52-kb-iconfont-identity-twitter-16:before {
	content: "\e933";
}
.53-kb-iconfont-identity-website-16:before {
	content: "\e934";
}
.54-kb-iconfont-identity-zcash-16:before {
	content: "\e935";
}
.55-kb-iconfont-info-16:before {
	content: "\e936";
}
.56-kb-iconfont-keybase-16:before {
	content: "\e937";
}
.57-kb-iconfont-leave-16:before {
	content: "\e938";
}
.58-kb-iconfont-link-16:before {
	content: "\e939";
}
.59-kb-iconfont-lock-16:before {
	content: "\e93a";
}
.60-kb-iconfont-mention-16:before {
	content: "\e93b";
}
.61-kb-iconfont-nav-chat-24:before {
	content: "\e93c";
}
.62-kb-iconfont-nav-devices-24:before {
	content: "\e93d";
}
.63-kb-iconfont-nav-files-24:before {
	content: "\e93e";
}
.64-kb-iconfont-nav-folders-24:before {
	content: "\e93f";
}
.65-kb-iconfont-nav-git-24:before {
	content: "\e940";
}
.66-kb-iconfont-nav-more-24:before {
	content: "\e941";
}
.67-kb-iconfont-nav-people-24:before {
	content: "\e942";
}
.68-kb-iconfont-nav-settings-24:before {
	content: "\e943";
}
.69-kb-iconfont-nav-teams-24:before {
	content: "\e944";
}
.70-kb-iconfont-nav-wallets-24:before {
	content: "\e945";
}
.71-kb-iconfont-new-16:before {
	content: "\e946";
}
.72-kb-iconfont-notifications-desktop-16:before {
	content: "\e947";
}
.73-kb-iconfont-notifications-mobile-16:before {
	content: "\e948";
}
.74-kb-iconfont-open-browser-16:before {
	content: "\e949";
}
.75-kb-iconfont-people-16:before {
	content: "\e94a";
}
.76-kb-iconfont-proof-broken-16:before {
	content: "\e94b";
}
.77-kb-iconfont-proof-good-16:before {
	content: "\e94c";
}
.78-kb-iconfont-proof-pending-16:before {
	content: "\e94d";
}
.79-kb-iconfont-proof-placeholder-16:before {
	content: "\e94e";
}
.80-kb-iconfont-qr-code-16:before {
	content: "\e94f";
}
.81-kb-iconfont-question-mark-16:before {
	content: "\e950";
}
.82-kb-iconfont-reacji-16:before {
	content: "\e951";
}
.83-kb-iconfont-reacji-heart-16:before {
	content: "\e952";
}
.84-kb-iconfont-reacji-sheep-16:before {
	content: "\e953";
}
.85-kb-iconfont-reacji-wave-16:before {
	content: "\e954";
}
.86-kb-iconfont-stellar-request-16:before {
	content: "\e955";
}
.87-kb-iconfont-refresh-16:before {
	content: "\e956";
}
.88-kb-iconfont-remove-16:before {
	content: "\e957";
}
.89-kb-iconfont-search-16:before {
	content: "\e958";
}
.90-kb-iconfont-shh-16:before {
	content: "\e959";
}
.91-kb-iconfont-star-16:before {
	content: "\e95a";
}
.92-kb-iconfont-stellar-send-16:before {
	content: "\e95b";
}
.93-kb-iconfont-success-16:before {
	content: "\e95c";
}
.94-kb-iconfont-team-join-16:before {
	content: "\e95d";
}
.95-kb-iconfont-team-leave-16:before {
	content: "\e95e";
}
.96-kb-iconfont-text-code-16:before {
	content: "\e95f";
}
.97-kb-iconfont-thunderbolt-16:before {
	content: "\e960";
}
.98-kb-iconfont-time-16:before {
	content: "\e961";
}
.99-kb-iconfont-time-reversed-16:before {
	content: "\e962";
}
.100-kb-iconfont-timer-16:before {
	content: "\e963";
}
.101-kb-iconfont-trash-16:before {
	content: "\e964";
}
.102-kb-iconfont-tweet-16:before {
	content: "\e965";
}
.103-kb-iconfont-upload-2-16:before {
	content: "\e966";
}
.104-kb-iconfont-upload-16:before {
	content: "\e967";
}
.105-kb-iconfont-usercard-16:before {
	content: "\e968";
}
.106-kb-iconfont-wrenches-16:before {
	content: "\e969";
}
.107-kb-iconfont-return-16:before {
	content: "\e96a";
}
.108-kb-iconfont-thin-arrow-left-16:before {
	content: "\e96b";
}
.109-kb-iconfont-thin-arrow-right-16:before {
	content: "\e96c";
}
.110-kb-iconfont-contact-card-16:before {
	content: "\e96d";
}
.111-kb-iconfont-contact-card-2-16:before {
	content: "\e96e";
}
.112-kb-iconfont-identity-stellar-16:before {
	content: "\e96f";
}
