chain :
  user : "max32"
  ctime : "now"
  expire_in : 10000000
  links : [
    {
      type : "eldest"
      label : "e"
      key : gen : "eddsa"
    },
    {
      ctime : "+100"
      label : "sib1"
      type : "sibkey"
      key : gen : "eddsa"
      signer : "e"
      # Previous payload hash mismatch
      prev : "deadbeef00000000000000000000000000000000000000000000000000000000"
    },
  ]
