chain :
  user : "max32"
  ctime : "now"
  expire_in : 10000000
  links : [
    {
      type : "eldest"
      label : "e"
      key : gen : "eddsa"
    },
    {
      ctime : "+100"
      label : "sib1"
      type : "sibkey"
      key : gen : "eddsa"
      signer : "e"
    },
    {
      label : "revoke1"
      ctime : "+100"
      type : "revoke"
      signer : "e"
      revoke :
        key : "sib1"
    },
    {
      ctime : "+100"
      label : "sib2"
      type : "sibkey"
      key : gen : "eddsa"
      signer : "sib1"
    },
  ]
