<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Keybase</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>keybase</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>114</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>aeafaa12-a017-48c8-a29a-bdd3061f93e3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Keybase does not use this data! Please send feedback if you see this message.</string>
	<key>NSCameraUsageDescription</key>
	<string>Scanning QR codes and recording video chat attachments</string>
	<key>NSContactsUsageDescription</key>
	<string>Inviting contacts to Keybase. We will search for your contacts but not retain this data in our servers.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Used for sharing your location with others on Keybase.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Used for sharing your location with others on Keybase.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used for sharing your location with others on Keybase.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Recording audio for audio and video chat attachments</string>
	<key>NSMotionUsageDescription</key>
	<string>Keybase does not use this data! Please send feedback if you see this message.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Saving images from chat messages</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Attaching images to chat messages</string>
	<key>NSRemindersUsageDescription</key>
	<string>Keybase does not use this data! Please send feedback if you see this message.</string>
	<key>UIAppFonts</key>
	<array>
		<string>keybase-bold-italic.ttf</string>
		<string>keybase-bold.ttf</string>
		<string>keybase-extrabold.ttf</string>
		<string>keybase-medium.ttf</string>
		<string>keybase-medium-italic.ttf</string>
		<string>keybase-semibold.ttf</string>
		<string>keybase-semibold-italic.ttf</string>
		<string>SourceCodePro-Medium.ttf</string>
		<string>SourceCodePro-Semibold.ttf</string>
		<string>kb.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
