.overlay-icon {
  bottom: 1px;
  color: var(--color-black_20);
  position: absolute;
  right: 0;
  bottom: 0;
}
.overlay-icon.hovered {
  color: var(--color-black_20);
}
.overlay-icon.selected {
  color: var(--color-white);
}
.overlay-icon.stroked {
  -webkit-text-stroke: 2px var(--color-blueGrey);
  color: var(--color-blueGrey);
  right: -1px;
}
.overlay-icon.hovered.stroked {
  -webkit-text-stroke: 2px var(--color-blueGreyDark);
  color: var(--color-blueGreyDark);
}
.overlay-icon.selected.stroked {
  -webkit-text-stroke: 2px var(--color-blue);
  color: var(--color-blue);
}
