{
  "name": "io.keybase.kbnm",
  "description": "Keybase Native Messaging API",
  "path": "@@HOST_PATH@@",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://ognfafcpbkogffpmmdglhbjboeojlefj/",
    "chrome-extension://kockbbfoibcdfibclaojljblnhpnjndg/",
    "chrome-extension://gnjkbjlgkpiaehpibpdefaieklbfljjm/"
  ],
  "allowed_extensions": [
    "keybase@keybase.io"
  ]
}
