.accountSwitcherScrollView {
  height: 170px;
}

@media all and (min-height: 800px) {
  .accountSwitcherScrollView {
    height: 370px;
  }
}
@media all and (min-height: 700px) and (max-height: 800px) {
  .accountSwitcherScrollView {
    height: 270px;
  }
}
