@import '../../common-adapters/text.css';

/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End reset */

/* KB custom font */
@font-face {
  font-family: 'kb';
  src: url('../../fonts/kb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Nyctographic font */
@font-face {
  font-family: 'Nyctographic';
  src: url('../../fonts/Nyctographic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Source Code Pro */
@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  src: url('../../fonts/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 600;
  src: url('../../fonts/SourceCodePro-Semibold.ttf') format('truetype');
}
/* End Source Code Pro */

/* Keybase */
@font-face {
  font-family: 'Keybase';
  font-weight: 500;
  src: url('../../fonts/keybase-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Keybase';
  font-weight: 500;
  font-style: italic;
  src: url('../../fonts/keybase-medium-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Keybase';
  font-weight: 600;
  src: url('../../fonts/keybase-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Keybase';
  font-weight: 600;
  font-style: italic;
  src: url('../../fonts/keybase-semibold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Keybase';
  font-weight: 700;
  src: url('../../fonts/keybase-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Keybase';
  font-weight: 700;
  font-style: italic;
  src: url('../../fonts/keybase-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Keybase';
  font-weight: 800;
  src: url('../../fonts/keybase-extrabold.ttf') format('truetype');
}
/* End Keybase */

html {
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root {
  --scrollbar-size: 0.375rem;
  --scrollbar-minlength: 0.5rem;
  --scrollbar-ff-width: thin;
  --scrollbar-track-color: transparent;
  --scrollbar-color: rgba(0, 0, 0, 0.2);
  --scrollbar-color-dark: rgba(255, 255, 255, 0.2);
  --scrollbar-color-hover: rgba(0, 0, 0, 0.3);
  --scrollbar-color-hover-dark: rgba(255, 255, 255, 0.3);
  --scrollbar-color-active: rgb(0, 0, 0);
  --scrollbar-color-active-dark: rgb(255, 255, 255, 0.5);
}

/* Used to customize scrollbars and enable testing the auto hide behavior on os x */
body {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}
.layout-scrollbar-obtrusive ::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
}
.scrollbar-test {
  overscroll-behavior: contain;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: var(--scrollbar-ff-width);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 3px;
}
.darkMode ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color-dark);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
}
.darkMode ::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover-dark);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-color-active);
}
.darkMode ::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-color-active-dark);
}
::-webkit-scrollbar-thumb:vertical {
  min-height: var(--scrollbar-minlength);
}
::-webkit-scrollbar-thumb:horizontal {
  min-width: var(--scrollbar-minlength);
}

.darkMode input {
  background-color: #191919;
}

#root {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal-root {
  display: inline-block;
}

.underline-hover-no-underline {
  text-decoration: underline;
}

.underline-hover-no-underline:hover {
  text-decoration: none;
}

.emoji-picker-emoji-box {
  border-radius: 2px;
}

.emoji-picker-emoji-box:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.darkMode .emoji-picker-emoji-box:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.hover-underline {
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-underline-container:hover .underline {
  text-decoration: underline;
}

.hover-underline-container:hover .hover-underline-child {
  text-decoration: underline;
}
.underline-never {
  text-decoration: none !important;
}

.hover-opacity {
  opacity: 0.8;
}
.hover-opacity:hover {
  opacity: 1;
}

.hover-opacity.inverted {
  opacity: 1;
}
.hover-opacity.inverted:hover {
  opacity: 0.8;
}

.hover-container .hover-opacity-full {
  opacity: 0;
}
.hover-container:hover .hover-opacity-full {
  opacity: 1;
}

.hover-container:hover .hover-reverse-row {
  flex-direction: row-reverse;
}

.hover-container .hover-visible {
  display: none;
}

.hover-container:hover .hover-visible {
  display: flex;
}

.underline {
  text-decoration: underline;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}

.fade-anim-enter {
  opacity: 0;
  pointer-events: none;
}

.fade-anim-enter.fade-anim-enter-active {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms ease-in-out;
}

.fade-anim-exit {
  opacity: 1;
  pointer-events: auto;
}

.fade-anim-exit.fade-anim-exit-active {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.fade-background-color {
  transition: background-color 0.2s ease-in-out;
}

.emoji {
  position: relative;
  display: inline-block;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
}

.emoji-native {
  font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji', 'Twemoji Mozilla',
    'Noto Color Emoji', 'Android Emoji';
}

.emoji .emoji-native {
  line-height: 0;
  width: 0;
  height: 0;
  display: inline-block;
}

.emoji {
  vertical-align: middle;
  display: inline;
}

.center-emojis .emoji > span {
  vertical-align: middle;
}

.growFadeInSmall {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.growFadeInBig {
  max-height: 999px;
  opacity: 1;
}

.lightMode {
  background-color: #ffffff;
}
.darkMode {
  background-color: #191919;
}

.addInviteAndLinkBox {
  transition: box-shadow 0.35s;
}
.headerTitle:hover .addInviteAndLinkBox {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.darkMode .headerTitle:hover .addInviteAndLinkBox {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.selectionPopup {
  transition: bottom 0.5s;
}

.hideableDropdown {
  transition: height 0.2s;
  height: 32px;
  overflow: hidden;
}
.hideableDropdown.hidden {
  height: 0;
}

.selectable {
  cursor: text;
  user-select: text;
}

.clickable {
  cursor: pointer;
}

.clickable-box2 {
  cursor: pointer;
}
