@import "~emoji-mart/css/emoji-mart.css";

/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: white;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset */

/* KB custom font */
@font-face {
  font-family: 'kb';
  src: url('../../fonts/kb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Source Code Pro */
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    src: url('../../fonts/SourceCodePro.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 600;
    src: url('../../fonts/SourceCodePro-Semi_bold.ttf') format('truetype');
}
/* End Source Code Pro */

/* OpenSans */
@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url('../../fonts/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: italic;
    src: url('../../fonts/OpenSans_italic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 600;
    src: url('../../fonts/OpenSans-Semi_bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 600;
    font-style: italic;
    src: url('../../fonts/OpenSans-Semi_bold_italic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 700;
    src: url('../../fonts/OpenSans_bold.ttf') format('truetype');
}
/* End OpenSans */

html {
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
}

#root {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.hover-underline {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.hover-underline-container:hover .underline{
    text-decoration: underline;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0;
}

.fade-anim-enter {
    opacity: 0;
}

.fade-anim-enter.fade-anim-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.fade-anim-leave {
    opacity: 1;
}

.fade-anim-leave.fade-anim-leave-active {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.emoji-mart-emoji {
    display: inline;
    font-size: medium;
    vertical-align: middle;
}
