html {
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  color: #BFBEBE;
  flex-direction: column;
  border-radius: 5px;
  -webkit-user-select: none;
  cursor: default;
  height: inherit;
  margin: 0;
}

#root {
  height: inherit;
}
