// Noto Sans
@font-face {
    font-family: "Noto Sans";
    src: url(fonts/NotoSans-Regular.ttf);
}
@font-face {
    font-family: "Noto Sans";
    src: url(fonts/NotoSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Noto Sans";
    src: url(fonts/NotoSans-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Noto Sans";
    src: url(fonts/NotoSans-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

// Roboto
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url(fonts/RobotoLight.ttf);
  src: local('Roboto Light'), local('Roboto-Light'), format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(fonts/Roboto.ttf);
  src: local('Roboto'), local('Roboto-Regular'), format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(fonts/RobotoMedium.ttf);
  src: local('Roboto Medium'), local('Roboto-Medium'), format('truetype');
}

body {
    font-family: 'Roboto'
}

