{
  "plugins": [
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error"
        ]
      }
    ],
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "babel-plugin-transform-class-properties",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-es2015-destructuring",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "debug": false,
        "exclude": [
          "transform-regenerator"
        ],
        "modules": "commonjs",
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        },
        "useBuiltIns": false
      }
    ],
    "babel-preset-react"
  ]
}
