@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80px);
  }
}
.pendingBackground {
  animation: slide 2s linear infinite;
  background-repeat: repeat;
  background-size: 80px 80px;
  bottom: -80px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  will-change: transform;
  z-index: -1;
}
