.inbox-hover-container {
  .grabLines {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
  .grabLinesContainer {
    opacity: 0.5;
    transition: opacity 0.25s ease-in-out;
  }
  &:hover {
    :is(.grabLines, .grabLinesContainer) {
      opacity: 1;
    }
  }
}
