.WrapperMessage-hoverBox {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 56px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.WrapperMessage-noOverflow {
  overflow: hidden;
}
.WrapperMessage-hoverBox .WrapperMessage-buttons {
  display: none;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  margin-left: 8px;
}
.WrapperMessage-hoverBox:hover .WrapperMessage-buttons,
.WrapperMessage-decorated.active .WrapperMessage-buttons {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  margin-left: 8px;
}
.WrapperMessage-hoverColor:hover {
  background-color: #f7f9fc;
}
.WrapperMessage-decorated {
}
.WrapperMessage-decorated.active {
  background-color: #f7f9fc;
}
.WrapperMessage-author {
  padding-left: 0;
  padding-top: 8px;
}
.WrapperMessage-hoverBox .WrapperMessage-emojiButton {
  transition: box-shadow 0.1s ease-out;
}
.WrapperMessage-hoverBox:hover .WrapperMessage-emojiButton {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.WrapperMessage-hoverBox:hover .WrapperMessage-emojiButton.noShadow,
.WrapperMessage-hoverBox:hover .WrapperMessage-emojiButton:active {
  box-shadow: none;
}
.WrapperMessage-hoverBox .WrapperMessage-newEmojiButton {
  visibility: hidden;
}
.WrapperMessage-hoverBox:hover .WrapperMessage-newEmojiButton {
  visibility: visible;
}
