.WrapperMessage-hoverBox {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 56px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.WrapperMessage-hoverBox .WrapperMessage-buttons {
  display: none;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  margin-left: 8px;
}
.WrapperMessage-hoverBox:hover .WrapperMessage-buttons {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  margin-left: 8px;
}
.WrapperMessage-decorated {
}
.WrapperMessage-decorated:active {
  background-color: #f7f9fc;
}
.WrapperMessage-decorated:hover {
  background-color: #f7f9fc;
}
.WrapperMessage-author {
  padding-left: 0;
  padding-top: 8px;
}
