.WrapperMessage {
  &.highlighted,
  &.highlighted:hover,
  &.highlighted.WrapperMessage-hoverColor,
  &.highlighted.WrapperMessage-hoverColor:hover {
    animation-name: highlightAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-fill-mode: forwards;
  }

  &.highlighted {
    &:hover {
      .explodingTimeContainer {
        .darkMode & {
          background-color: rgba(255, 255, 255, 0.85) !important;
        }
      }
      .explodingTimeText {
        .darkMode & {
          color: rgba(0, 0, 0, 0.85) !important;
        }
      }

      .explodingTimeIcon {
        .darkMode & {
          color: rgba(255, 255, 255, 0.85) !important;
        }
      }
    }
  }
}

@keyframes highlightAnimation {
  from {
    background-color: var(--color-transparent);
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 38%);
  }
  to {
    background-color: var(--color-yellowOrYellowAlt);
    border-radius: 4px;
    box-shadow: 4px 4px 5px 1px rgb(0 0 0 / 38%);
  }
}

.WrapperMessage-hoverBox {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  .WrapperMessage-buttons {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 0;
  }

  .WrapperMessage-emojiButton {
    transition: box-shadow 0.1s ease-out;
  }

  &:hover {
    .WrapperMessage-emojiButton {
      box-shadow: 0 1px 1px 0 var(--color-black_10);
      .darkMode & .WrapperMessage-emojiButton {
        box-shadow: none;
      }
      &.noShadow,
      &:active {
        box-shadow: none;
      }
    }
    .WrapperMessage-newEmojiButton {
      visibility: visible;
    }
    .WrapperMessage-emojiRow {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    }
    .sendingStatus {
      visibility: hidden;
    }
  }

  .WrapperMessage-newEmojiButton {
    visibility: hidden;
  }
}
.WrapperMessage-hoverBox:hover .WrapperMessage-buttons,
.WrapperMessage-decorated.active .WrapperMessage-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 0;
}
.WrapperMessage-hoverColor {
  &:hover {
    background-color: var(--color-blueLighter2);
    .darkMode & {
      background-color: var(--color-blueLighter3);
    }
  }
}

.TextAndSiblings {
  &.noOverflow {
    overflow: hidden;
  }
  &.systemMessage {
    padding-left: 0;
  }
}

.WrapperMessage-decorated {
  min-height: 26px;
  &.active {
    background-color: var(--color-blueLighter2);
    .darkMode & {
      background-color: var(--color-blueLighter3);
    }
  }
}
.WrapperMessage-author {
  padding-left: 0;
  padding-top: 8px;
}

.ReplyBox {
  &:hover {
    background-color: white;
    .darkMode & {
      background-color: var(--color-blackOrBlack);
    }
    .text_BodySmall {
      color: var(--color-blackOrBlack) !important;
      .darkMode & {
        color: var(--color-whiteOrWhite) !important;
      }
    }
  }
}

.react-button {
  &.border {
    &:hover {
      backgroundcolor: var(--color-blueLighter2);
      bordercolor: var(--color-blue);
    }
  }
}

.ashbox {
  overflow: hidden;
  transition: width 0s;
  width: 0;

  &.full-width {
    overflow: visible;
    transition: width 2000ms linear;
    width: 100%;
  }
}

.timer-icon-container {
  &:hover,
  &.expanded {
    .timer-icon {
      color: var(--color-black);
    }
  }
}
