[Desktop Entry]
Name=Keybase
Exec=env KEYBASE_STARTUP_URL=%u run_keybase
Icon=keybase
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
MimeType=x-scheme-handler/web+stellar;
