[Desktop Entry]
Name=Keybase
Exec=/opt/keybase/Keybase
Icon=keybase
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
Actions=restart;

[Desktop Action restart]
Name=Restart
Exec=run_keybase
