<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Keybase</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>5.5.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
        <dict>
            <key>NSExtensionAttributes</key>
            <dict>
                <key>NSExtensionActivationRule</key>
                <string>SUBQUERY (
                    extensionItems,
                    $extensionItem,
                    SUBQUERY (
                    $extensionItem.attachments,
                    $attachment,
                    (
                    ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.adobe.pdf"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.compuserve.gif"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.microsoft.bmp"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.3gpp"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.3gpp2"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.aifc-audio"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.aiff-audio"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.archive"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.audio"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.audiovisual-content"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.avi"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.camera-raw-image"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.case-insensitive-text"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.composite-content"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.content"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.cpio-archive"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.image"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.fax"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.font"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.jpeg"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.jpeg-2000"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.movie"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.mpeg4"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.plain-text"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.png"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.presentation"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.tar-archive"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.text"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.ulaw-audio"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url-name"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.xbitmap-image"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.xml"
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.file-url"
                    )
                    ).@count >=1
                    ).@count >= 1
                </string>
            </dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
	</dict>
</dict>
</plist>
