Package: @@NAME@@
Version: @@VERSION@@
Architecture: @@ARCHITECTURE@@
Installed-Size: @@SIZE@@
Maintainer: Keybase Bugs <bugs@keybase.io>
Section: misc
Priority: optional
Description: The Keybase Go client, filesystem, and GUI
@@DEPENDENCIES@@
