/* Consistent with keybase branding but maybe too obnoxious for reddit users?
.entry .buttons .keybase-reply a {
  color: #33a0ff;
}
*/

.keybase-reply form {
    position: absolute;
    display: block !important;
    margin-top: 2em;
    background: #fff;
    width: 500px;
    white-space: normal !important;
    font-size: 13px;
    line-height: 1.5em;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 3px 3px 13px 0 #a29e9e;
    overflow: hidden;
}

.keybase-error {
    color: #ff4d61;
}

.keybase-reply .keybase-username {
    font-weight: bold;
    color: #33a0ff;
}

.keybase-reply a.reddit-user {
    /* Mimic normal reddit user tag */
    color: #0079d3 !important;
    padding: 0 !important;
    font-weight: normal !important;
}

.keybase-reply em {
    font-weight: bold;
    font-style: italic;
}

.keybase-reply textarea {
    width: 97%;
    padding: 0.5em;
}

.keybase-reply p {
    margin: 0em 1.5em 1.5em 1.5em;

}

.keybase-reply label {
    color: rgba(0, 0, 0, 0.75);
}

.keybase-reply h3 {
    text-align: center;
    background: #33a0ff;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 1.5em;
}

.keybase-reply input[type="submit"] {
    width: 116px;
    height: 32px;
    border: 0;
    border-radius: 50px;
    background-color: #33a0ff;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
}

.keybase-reply input[type="submit"]:disabled {
    background: #bbb;
}

.keybase-close {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 0.5em;
    top: -0.5em;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.keybase-close::before {
    content: "×";
}
