{
  // React native doesn't support env so by default we use react-native and in electron we specify it
  // See: https://github.com/facebook/react-native/issues/8723
  /* "presets": ["babel-preset-react-native"], */
  "env": {
    // Used by node for our own scripts
    "yarn": {
      "presets": ['@babel/preset-env'],
      "plugins": ['@babel/plugin-proposal-object-rest-spread', '@babel/transform-flow-strip-types']
    },
    "test": {
      "presets": ['@babel/preset-env', '@babel/preset-react'],
      "plugins": ['@babel/plugin-proposal-object-rest-spread', '@babel/transform-flow-strip-types', '@babel/plugin-proposal-class-properties']
    }
  }
}
