{
  // React native doesn't support env so by default we use react-native and in electron we specify it
  // See: https://github.com/facebook/react-native/issues/8723
  "presets": [
    "babel-preset-react-native"
  ],
  "plugins": [
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error"
        ]
      }
    ]
  ],
  "env": {
    // Used by node for our own scripts
    "yarn": {
      "presets": [
        "babel-preset-es2015",
        "babel-preset-stage-1"
      ],
      "plugins": []
    }
  }
}
