{
    "env": {
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": ["standard", "standard-react"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "__DEV__": false,
        "__SCREENSHOT__": false
    },
    "plugins": [
        "mocha", "filenames", "babel", "import", "flowtype"
    ],
    "settings": {
        "import/core-modules": [ electron, react-native ],
        "import/resolver": {
          webpack: 'webpack.config.base.js'
        },
    },
    "rules": {
        "babel/func-params-comma-dangle": "off",
        "comma-dangle": ["error", "always-multiline"],
        "filenames/match-regex": ["error", "^[0-9a-z-.]+(\\.desktop|\\.native|\\.ios|\\.android)?$"],
        "flowtype/require-valid-file-annotation": ["error", "always", {"annotationStyle": "line"}],
        "flowtype/space-after-type-colon": ["error", "always"],
        "flowtype/space-before-generic-bracket": ["error", "never"],
        "flowtype/union-intersection-spacing": ["error", "always"],
        "flowtype/generic-spacing": ["error", "never"],
        "flowtype/valid-syntax": ["error"],
        "flowtype/define-flow-type": "error",
        "flowtype/use-flow-type": "error",
        "flowtype/delimiter-dangle": ["error", "always-multiline"],
        "flowtype/no-dupe-keys": "error",
        "flowtype/semi": ["error", "never"],
        "flowtype/object-type-delimiter": ["error", "comma"],
        "jsx-quotes": ["error", "prefer-single"],
        "import/named": "error",
        "import/export": "error",
        "import/no-named-as-default": "error",
        "import/no-named-as-default-member": "error",
        "import/no-extraneous-dependencies": "error",
        "import/no-mutable-exports": "error",
        "import/imports-first": "error",
        "import/no-duplicates": "error",
        "no-duplicate-imports": "off",
        "react/jsx-boolean-value": ["error", "always"],
        "react/jsx-curly-spacing": "error",
        "react/jsx-equals-spacing": "error",
        "react/jsx-indent": "error",
        "react/jsx-key": "error",
        "react/jsx-no-bind": ["error", {"allowArrowFunctions": true}],
        "react/jsx-no-duplicate-props": "error",
        "react/jsx-no-undef": "error",
        "react/jsx-pascal-case": "error",
        "react/jsx-space-before-closing": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/no-danger": "error",
        "react/no-did-mount-set-state": "error",
        "react/no-did-update-set-state": "error",
        "react/no-direct-mutation-state": "error",
        "react/no-is-mounted": "error",
        "react/no-unknown-property": "error",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "error",
        "react/require-render-return": "error",
        "standard/array-bracket-even-spacing": ["error", "never"],
        "standard/computed-property-even-spacing": ["error", "never"],
        "standard/object-curly-even-spacing": ["error", "never"],
        "standard/no-callback-literal": "off",
        "strict": ["error", "global"],
        "sort-keys": ["warn", "asc", {"caseSensitive": true, "natural": false}],
        "no-mixed-operators": "off",
        "react/no-unused-prop-types": "off"
    }
}
