override-d.ts/**
babel.config.js
coverage
desktop/build/**
desktop/dist/**
desktop/release/**
desktop/renderer/renderer-load.desktop.js
desktop/webpack.config.babel.js
markdown/parser.js
metro.config.js
node_modules
react-native/react-native-contacts
react-native/wipe-cache.js
rn-cli.config.js
rn-transformer.js
common-adapters/icon.constants-gen.desktop.tsx
common-adapters/icon.constants-gen.native.tsx
common-adapters/icon.constants-gen.shared.tsx
