# Android
android/local.properties
android/.gradle
android/keybaselib/keybaselib.aar
android/.idea
android/**/build/
android/dist
android/**/*.iml
android/**/.classpath
android/**/.project
android/**/.settings/**

# iOS
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.xcuserstate
.DS_Store
Carthage/Build
DerivedData
build/
project.xcworkspace
xcuserdata
shared
ios/fastlane/README.md
keybase.framework
ios/AppStore_keybase.ios.KeybaseShare.mobileprovision
ios/AppStore_keybase.ios.mobileprovision
ios/dist

main.jsbundle
.eslintcache
