/* Used by avatar on desktop to speed up perf */

.avatar {
    user-select: none;
    flex-shrink: 0;
    position: relative;
}

.avatar-size-128 {width: 128px; height: 128px;}
.avatar-size-16 {width: 16px; height: 16px;}
.avatar-size-32 {width: 32px; height: 32px;}
.avatar-size-48 {width: 48px; height: 48px;}
.avatar-size-64 {width: 64px; height: 64px;}
.avatar-size-96 {width: 96px; height: 96px;}

.avatar-background {
    background-color: #f0f0f0;
    bottom: 1px;
    left: 1px;
    position: absolute;
    right: 1px;
    top: 1px;
}

.avatar-user-image {
    flex-shrink: 0;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.avatar-border-team {
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    flex-shrink: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.avatar-border {
    background: rgba(0, 0, 0, 0);
}
