/* Used by box on desktop to speed up perf */
.box2_vertical {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.box2_vertical.box2_reverse {
  flex-direction: column-reverse;
}
.box2_horizontal {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.box2_horizontal.box2_reverse {
  flex-direction: row-reverse;
}
.box2_centered {
  align-self: center;
}
.box2_centeredChildren {
  align-items: center;
  justify-content: center;
}
.box2_fullHeight {
  height: 100%;
  max-height: 100%;
}
.box2_fullWidth {
  width: 100%;
  max-width: 100%;
}
.box2_alignSelf_center {
  align-self: center;
}
.box2_alignSelf_flex-start {
  align-self: flex-start;
}
.box2_alignSelf_flex-end {
  align-self: flex-end;
}
.box2_alignSelf_stretch {
  align-self: stretch;
}
.box2_no_shrink {
  flex-shrink: 0;
}
.box2_alignItems_center {
  align-items: center;
}
.box2_alignItems_flex-start {
  align-items: flex-start;
}
.box2_alignItems_flex-end {
  align-items: flex-end;
}
.box2_pointerEvents_none {
  pointer-events: none;
}

/* gap support */
.box2_vertical.box2_gap_xxtiny {
  row-gap: 2px;
}
.box2_horizontal.box2_gap_xxtiny {
  column-gap: 2px;
}
.box2_vertical.box2_gap_xtiny {
  row-gap: 4px;
}
.box2_horizontal.box2_gap_xtiny {
  column-gap: 4px;
}
.box2_vertical.box2_gap_tiny {
  row-gap: 8px;
}
.box2_horizontal.box2_gap_tiny {
  column-gap: 8px;
}
.box2_vertical.box2_gap_xsmall {
  row-gap: 12px;
}
.box2_horizontal.box2_gap_xsmall {
  column-gap: 12px;
}
.box2_vertical.box2_gap_small {
  row-gap: 16px;
}
.box2_horizontal.box2_gap_small {
  column-gap: 16px;
}
.box2_vertical.box2_gap_medium {
  row-gap: 24px;
}
.box2_horizontal.box2_gap_medium {
  column-gap: 24px;
}
.box2_vertical.box2_gap_mediumlarge {
  row-gap: 32px;
}
.box2_horizontal.box2_gap_mediumlarge {
  column-gap: 32px;
}
.box2_vertical.box2_gap_large {
  row-gap: 40px;
}
.box2_horizontal.box2_gap_large {
  column-gap: 40px;
}
.box2_vertical.box2_gap_xlarge {
  row-gap: 64px;
}
.box2_horizontal.box2_gap_xlarge {
  column-gap: 64px;
}

/* gapStart support */
.box2_vertical.box2_gapStart_xxtiny {
  padding-top: 2px;
}
.box2_horizontal.box2_gapStart_xxtiny {
  padding-left: 2px;
}
.box2_vertical.box2_gapStart_xtiny {
  padding-top: 4px;
}
.box2_horizontal.box2_gapStart_xtiny {
  padding-left: 4px;
}
.box2_vertical.box2_gapStart_tiny {
  padding-top: 8px;
}
.box2_horizontal.box2_gapStart_tiny {
  padding-left: 8px;
}
.box2_vertical.box2_gapStart_xsmall {
  padding-top: 12px;
}
.box2_horizontal.box2_gapStart_xsmall {
  padding-left: 12px;
}
.box2_vertical.box2_gapStart_small {
  padding-top: 16px;
}
.box2_horizontal.box2_gapStart_small {
  padding-left: 16px;
}
.box2_vertical.box2_gapStart_medium {
  padding-top: 24px;
}
.box2_horizontal.box2_gapStart_medium {
  padding-left: 24px;
}
.box2_vertical.box2_gapStart_mediumlarge {
  padding-top: 32px;
}
.box2_horizontal.box2_gapStart_mediumlarge {
  padding-left: 32px;
}
.box2_vertical.box2_gapStart_large {
  padding-top: 40px;
}
.box2_horizontal.box2_gapStart_large {
  padding-left: 40px;
}
.box2_vertical.box2_gapStart_xlarge {
  padding-top: 64px;
}
.box2_horizontal.box2_gapStart_xlarge {
  padding-left: 64px;
}
/* gapEnd support */
.box2_vertical.box2_gapEnd_xxtiny {
  padding-bottom: 2px;
}
.box2_horizontal.box2_gapEnd_xxtiny {
  padding-right: 2px;
}
.box2_vertical.box2_gapEnd_xtiny {
  padding-bottom: 4px;
}
.box2_horizontal.box2_gapEnd_xtiny {
  padding-right: 4px;
}
.box2_vertical.box2_gapEnd_tiny {
  padding-bottom: 8px;
}
.box2_horizontal.box2_gapEnd_tiny {
  padding-right: 8px;
}
.box2_vertical.box2_gapEnd_xsmall {
  padding-bottom: 12px;
}
.box2_horizontal.box2_gapEnd_xsmall {
  padding-right: 12px;
}
.box2_vertical.box2_gapEnd_small {
  padding-bottom: 16px;
}
.box2_horizontal.box2_gapEnd_small {
  padding-right: 16px;
}
.box2_vertical.box2_gapEnd_medium {
  padding-bottom: 24px;
}
.box2_horizontal.box2_gapEnd_medium {
  padding-right: 24px;
}
.box2_vertical.box2_gapEnd_mediumlarge {
  padding-bottom: 32px;
}
.box2_horizontal.box2_gapEnd_mediumlarge {
  padding-right: 32px;
}
.box2_vertical.box2_gapEnd_large {
  padding-bottom: 40px;
}
.box2_horizontal.box2_gapEnd_large {
  padding-right: 40px;
}
.box2_vertical.box2_gapEnd_xlarge {
  padding-bottom: 64px;
}
.box2_horizontal.box2_gapEnd_xlarge {
  padding-right: 64px;
}
