.cl-entry {
  background-color: transparent;
  &:hover {
    background-color: light-dark(var(--color-blueLighter2), #140d03);
    .cl-icon-container {
      background: transparent;
    }
  }
}


.cl-icon {
  transform-origin: center center;
  transition: 0.5s transform;
  &:hover .cl-icon {
    transform: translateX(25%);
  }
}

.cl-icon-container {
  transition: 0.5s background;
  border-radius: 50%;
}
