@media (prefers-color-scheme: dark) {
  input,
  textarea {
    background-color: var(--color-white);
  }
}

.darkMode input,
.darkMode textarea {
  background-color: var(--color-white);
}

input,
textarea {
  &::-webkit-input-placeholder {
    color: var(--color-black_40);
  }
}
