.listItem2 .fade {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.listItem2 .grow {
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.1s ease-out;
}

.listItem2:hover {
  background-color: #ebf2fc;
}
.darkMode .listItem2:hover {
  background-color: rgba(24, 45, 110, 0.5);
}

.listItem2:hover .avatar-border {
  box-shadow: 0px 0px 0px 2px #ebf2fc !important;
}
.darkMode .listItem2:hover .avatar-border {
  box-shadow: 0px 0px 0px 2px rgba(24, 45, 110, 0.5) !important;
}

.listItem2:hover .fade {
  opacity: 1;
}

.listItem2:hover .grow {
  max-width: 64px;
}
