/* Used by text on desktop to speed up perf */

.text_HeaderBig,
.text_HeaderBigExtrabold,
.text_Header,
.text_HeaderItalic,
.text_HeaderExtrabold,
.text_HeaderLink,
.text_BodyBig,
.text_BodyBigExtrabold,
.text_BodyBigLink,
.text_Body,
.text_BodyItalic,
.text_BodySemibold,
.text_BodyBold,
.text_BodySemiboldItalic,
.text_BodySemiboldLink,
.text_BodyExtrabold,
.text_BodyPrimaryLink,
.text_BodySecondaryLink,
.text_BodySmall,
.text_BodySmallBold,
.text_BodySmallItalic,
.text_BodySmallPrimaryLink,
.text_BodySmallExtrabold,
.text_BodySmallSemiboldItalic,
.text_BodySmallSemiboldPrimaryLink,
.text_BodySmallSemiboldSecondaryLink,
.text_BodySmallSecondaryLink,
.text_BodySmallExtraboldSecondaryLink,
.text_BodySmallError,
.text_BodySmallSuccess,
.text_BodySmallWallet,
.text_BodyTiny,
.text_BodyTinyLink,
.text_BodyTinyBold,
.text_BodyTinyExtrabold,
.text_BodyTinySemibold,
.text_BodyTinySemiboldItalic,
.text_BodySmallSemibold,
.text_Nyctographic,
.text_Terminal,
.text_TerminalComment,
.text_TerminalEmpty,
.text_TerminalInline {
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
}

.darkMode .text_HeaderBig,
.darkMode .text_HeaderBigExtrabold,
.darkMode .text_Header,
.darkMode .text_HeaderItalic,
.darkMode .text_HeaderExtrabold,
.darkMode .text_BodyBig,
.darkMode .text_BodyBigExtrabold,
.darkMode .text_Nyctographic,
.darkMode .text_BodyExtrabold,
.darkMode .text_BodySemiboldItalic,
.darkMode .text_BodyBold,
.darkMode .text_BodySemibold,
.darkMode .text_BodyItalic,
.darkMode .text_Body {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySecondaryLink,
.text_BodySmall,
.text_BodySmallBold,
.text_BodySmallItalic,
.text_BodySmallExtrabold,
.text_BodySmallSemiboldItalic,
.text_BodySmallSecondaryLink,
.text_BodySmallExtraboldSecondaryLink,
.text_BodyTiny,
.text_BodyTinyLink,
.text_BodyTinyBold,
.text_BodyTinyExtrabold,
.text_BodyTinySemibold,
.text_BodyTinySemiboldItalic,
.text_BodySmallSemibold {
  color: var(--color-black_50OrWhite_40);
}

.text_HeaderLink,
.text_BodyBigLink,
.text_BodySemiboldLink,
.text_BodyPrimaryLink,
.text_BodySmallPrimaryLink,
.text_BodySmallSemiboldPrimaryLink {
  color: var(--color-blueDark);
}

.text_HeaderItalic,
.text_BodyItalic,
.text_BodySemiboldItalic,
.text_BodySmallItalic,
.text_BodySmallSemiboldItalic,
.text_BodyTinySemiboldItalic {
  font-style: italic;
}

.text_HeaderLink,
.text_BodyBigLink,
.text_BodyPrimaryLink,
.text_BodySecondaryLink,
.text_BodySmallPrimaryLink,
.text_BodySmallSemiboldPrimaryLink,
.text_BodySmallSemiboldSecondaryLink,
.text_BodySmallSecondaryLink,
.text_BodySmallExtraboldSecondaryLink,
.text_BodyTinyLink {
  cursor: pointer;
}

.text_HeaderBig,
.text_HeaderBigExtrabold {
  font-size: 24px;
  line-height: 28px;
}

.text_Body,
.text_BodyItalic,
.text_BodyPrimaryLink,
.text_BodySecondaryLink,
.text_BodySmall,
.text_BodySmallItalic,
.text_BodySmallPrimaryLink,
.text_BodySmallSecondaryLink,
.text_BodySmallError,
.text_BodySmallSuccess,
.text_BodySmallWallet,
.text_BodyTiny,
.text_BodyTinyLink,
.text_Nyctographic {
  font-weight: 400;
}
.text_BodyBig,
.text_BodyBigLink,
.text_BodySemibold,
.text_BodySemiboldItalic,
.text_BodySemiboldLink,
.text_BodySmallSemiboldItalic,
.text_BodySmallSemiboldPrimaryLink,
.text_BodySmallSemiboldSecondaryLink,
.text_BodyTinySemibold,
.text_BodyTinySemiboldItalic,
.text_BodySmallSemibold {
  font-weight: 600;
}
.text_HeaderBig,
.text_Header,
.text_HeaderItalic,
.text_HeaderLink,
.text_BodyBold,
.text_BodySmallBold,
.text_BodyTinyBold {
  font-weight: 700;
}
.text_HeaderBigExtrabold,
.text_HeaderExtrabold,
.text_BodyExtrabold,
.text_BodySmallExtrabold,
.text_BodySmallExtraboldSecondaryLink,
.text_BodyTinyExtrabold {
  font-weight: 800;
}

.text_Header,
.text_HeaderItalic,
.text_HeaderExtrabold,
.text_HeaderLink {
  font-size: 18px;
  line-height: 22px;
}
.darkMode .text_HeaderLink {
  color: var(--color-blueDarker2_75);
}

.text_BodyBig,
.text_BodyBigExtrabold,
.text_BodyBigLink {
  font-size: 15px;
  line-height: 19px;
}

.text_Body,
.text_BodyItalic,
.text_BodySemibold,
.text_BodyBold,
.text_BodySemiboldItalic,
.text_BodySemiboldLink,
.text_BodyExtrabold,
.text_BodyPrimaryLink,
.text_BodySecondaryLink {
  font-size: 14px;
  line-height: 18px;
}

.text_BodySmall,
.text_BodySmallBold,
.text_BodySmallItalic,
.text_BodySmallPrimaryLink,
.text_BodySmallExtrabold,
.text_BodySmallSemiboldItalic,
.text_BodySmallSemiboldPrimaryLink,
.text_BodySmallSemiboldSecondaryLink,
.text_BodySmallSecondaryLink,
.text_BodySmallExtraboldSecondaryLink,
.text_BodySmallError,
.text_BodySmallSuccess,
.text_BodySmallWallet {
  font-size: 13px;
  line-height: 17px;
}

.text_BodySmallError {
  color: var(--color-redDark);
}
.text_BodySmallSuccess {
  color: var(--color-greenDark);
}
.text_BodySmallWallet {
  color: var(--color-purpleDark);
}

.text_BodyTiny,
.text_BodyTinyLink,
.text_BodyTinyBold,
.text_BodyTinyExtrabold,
.text_BodyTinySemibold,
.text_BodyTinySemiboldItalic {
  font-size: 12px;
  line-height: 16px;
}

.text_BodySmallSemibold {
  font-size: 13px;
  line-height: 17px;
}

.text_Nyctographic {
  font-size: 14px;
  line-height: 18px;
  font-family: Nyctographic;
}

.text_Terminal,
.text_TerminalComment,
.text_TerminalEmpty,
.text_TerminalInline {
  font-size: 13px;
  line-height: 20px;
  font-family: Source Code Pro;
}

.text_Terminal {
  color: #a8ccff;
}
.darkMode .text_Terminal {
  color: #4c8eff;
}

.text_TerminalComment {
  color: var(--color-blueLighter_40);
}

.text_TerminalEmpty {
  color: var(--color-blueLighter_40);
  height: 20px;
}

.text_TerminalInline {
  line-height: 16px;
  color: #2645a3;
  background-color: var(--color-blueLighter2);
  border-radius: 2px;
  height: 17px;
  padding: 2px;
  word-wrap: break-word;
}
.darkMode .text_TerminalInline {
  color: #f00;
}

.text_center {
  display: inline-block;
  text-align: center;
}

.lineClamp1,
.lineClamp2,
.lineClamp3,
.lineClamp4,
.lineClamp5 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.lineClamp1 {
  -webkit-line-clamp: 1;
}

.lineClamp2 {
  -webkit-line-clamp: 2;
}

.lineClamp3 {
  -webkit-line-clamp: 3;
}

.lineClamp4 {
  -webkit-line-clamp: 4;
}

.lineClamp5 {
  -webkit-line-clamp: 5;
}

.noLineHeight {
  line-height: unset !important;
}

.virtualText::before {
  content: attr(data-virtual-text);
}
