/* Used by text on desktop to speed up perf */

.text_HeaderBig {
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 700;
}
.darkMode .text_HeaderBig {
  color: rgba(255, 255, 255, 0.85);
}

.text_HeaderBigExtrabold {
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 800;
}
.darkMode .text_HeaderBigExtrabold {
  color: rgba(255, 255, 255, 0.85);
}

.text_Header {
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 700;
}
.darkMode .text_Header {
  color: rgba(255, 255, 255, 0.85);
}

.text_HeaderItalic {
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 700;
  font-style: italic;
}
.darkMode .text_HeaderItalic {
  color: rgba(255, 255, 255, 0.85);
}

.text_HeaderExtrabold {
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 800;
}
.darkMode .text_HeaderExtrabold {
  color: rgba(255, 255, 255, 0.85);
}

.text_HeaderLink {
  font-size: 18px;
  line-height: 22px;
  color: #3663ea;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 700;
}
.darkMode .text_HeaderLink {
  color: rgba(179, 113, 0, 0.85);
}

.text_BodyBig {
  font-size: 15px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodyBig {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodyBigExtrabold {
  font-size: 15px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 800;
}
.darkMode .text_BodyBigExtrabold {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodyBigLink {
  font-size: 15px;
  line-height: 19px;
  color: #3663ea;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodyBigLink {
}

.text_Body {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_Body {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodyItalic {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
  font-style: italic;
}
.darkMode .text_BodyItalic {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySemibold {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodySemibold {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySemiboldItalic {
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodySemiboldItalic {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySemiboldLink {
  font-size: 14px;
  line-height: 18px;
  color: #3663ea;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodySemiboldLink {
}

.text_BodyExtrabold {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 800;
}
.darkMode .text_BodyExtrabold {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodyPrimaryLink {
  font-size: 14px;
  line-height: 18px;
  color: #3663ea;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodyPrimaryLink {
}

.text_BodySecondaryLink {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodySecondaryLink {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmall {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodySmall {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmallBold {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 700;
}
.darkMode .text_BodySmallBold {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmallItalic {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
  font-style: italic;
}
.darkMode .text_BodySmallItalic {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmallPrimaryLink {
  font-size: 13px;
  line-height: 17px;
  color: #3663ea;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodySmallPrimaryLink {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmallExtrabold {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 800;
}
.darkMode .text_BodySmallExtrabold {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmallSemiboldItalic {
  font-size: 13px;
  font-style: italic;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodySmallSemiboldItalic {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmallSemiboldPrimaryLink {
  font-size: 13px;
  line-height: 17px;
  color: #3663ea;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodySmallSemiboldPrimaryLink {
}

.text_BodySmallSemiboldSecondaryLink {
  font-size: 13px;
  line-height: 17px;
  color: rgb(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodySmallSemiboldSecondaryLink {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmallSecondaryLink {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodySmallSecondaryLink {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmallExtraboldSecondaryLink {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 800;
}
.darkMode .text_BodySmallExtraboldSecondaryLink {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodySmallError {
  font-size: 13px;
  line-height: 17px;
  color: #eb253b;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodySmallError {
}

.text_BodySmallSuccess {
  font-size: 13px;
  line-height: 17px;
  color: #189e7a;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodySmallSuccess {
}

.text_BodySmallWallet {
  font-size: 13px;
  line-height: 17px;
  color: #6d3fd1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodySmallWallet {
}

.text_BodyTiny {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodyTiny {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodyTinyLink {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 400;
}
.darkMode .text_BodyTinyLink {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodyTinyBold {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 700;
}
.darkMode .text_BodyTinyBold {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodyTinyExtrabold {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 800;
}

.text_BodyTinySemibold {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodyTinySemibold {
  color: rgba(255, 255, 255, 0.85);
}

.text_BodyTinySemiboldItalic {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
  font-style: italic;
}

.text_BodySmallSemibold {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Keybase;
  font-weight: 600;
}
.darkMode .text_BodySmallSemibold {
  color: rgba(255, 255, 255, 0.85);
}

.text_Terminal {
  font-size: 13px;
  line-height: 20px;
  color: #a8ccff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Source Code Pro;
}
.darkMode .text_Terminal {
  color: rgba(255, 255, 255, 0.85);
}

.text_TerminalComment {
  font-size: 13px;
  line-height: 20px;
  color: rgba(168, 204, 255, 0.4);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Source Code Pro;
}
.darkMode .text_TerminalComment {
}

.text_TerminalEmpty {
  font-size: 13px;
  line-height: 20px;
  color: rgba(168, 204, 255, 0.4);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Source Code Pro;
  height: 20px;
}
.darkMode .text_TerminalEmpty {
}

.text_TerminalInline {
  font-size: 13px;
  line-height: 16px;
  color: #2645a3;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Source Code Pro;
  background-color: #ebf2fc;
  border-radius: 2px;
  height: 17px;
  padding: 2px;
  word-wrap: break-word;
}
.darkMode .text_TerminalInline {
}

.text_center {
  display: inline-block;
  text-align: center;
}
