/* Used by text on desktop to speed up perf */

.text_HeaderBig {
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 700;
}

.text_HeaderBigExtrabold {
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 800;
}

.text_Header {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 600;
}

.text_HeaderExtrabold {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 800;
}

.text_HeaderLink {
    font-size: 16px;
    line-height: 20px;
    color: rgb(76, 142, 255);
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 600;
}

.text_BodyBig {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 600;
}

.text_BodyBigLink {
    font-size: 14px;
    line-height: 18px;
    color: rgb(76, 142, 255);
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 600;
}


.text_Body {
    font-size: 13px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 400;
}

.text_BodySemibold {
    font-size: 13px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 600;
}

.text_BodyExtrabold {
    font-size: 13px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 800;
}

.text_BodyPrimaryLink {
    font-size: 13px;
    line-height: 17px;
    color: rgb(76, 142, 255);
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 400;
}

.text_BodySecondaryLink {
    font-size: 13px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 400;
}

.text_BodySmall {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.4);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 400;
}

.text_BodySmallPrimaryLink {
    font-size: 12px;
    line-height: 16px;
    color: #4C8EFF;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 600;
}

.text_BodySmallExtrabold {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.4);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 800;
}

.text_BodySmallSemiboldPrimaryLink {
    font-size: 12px;
    line-height: 16px;
    color: rgb(76, 142, 255);
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 600;
}

.text_BodySmallSecondaryLink {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 400;
}

.text_BodySmallExtraboldSecondaryLink {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 800;
}

.text_BodySmallError {
    font-size: 12px;
    line-height: 16px;
    color: rgb(255, 77, 97);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 400;
}

.text_BodySmallSuccess {
    font-size: 12px;
    line-height: 16px;
    color: rgb(52, 173, 141);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 400;
}

.text_BodySmallWallet {
    font-size: 12px;
    line-height: 16px;
    color: rgb(132, 92, 219);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 400;

}

.text_BodyTiny {
    font-size: 11px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.4);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 400;
}

.text_BodyTinySemibold {
    font-size: 11px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.4);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 600;
}


.text_BodySmallSemibold {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.40);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: OpenSans;
    font-weight: 600;
}


.text_Terminal {
    font-size: 13px;
    line-height: 20px;
    color: #A8CCFF;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Source Code Pro;
}

.text_TerminalComment {
font-size: 13px;
    line-height: 20px;
    color: rgba(168, 204, 255, 0.4);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Source Code Pro;
}

.text_TerminalEmpty {
    font-size: 13px;
    line-height: 20px;
    color: rgba(168, 204, 255, 0.4);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Source Code Pro;
    height: 20px;
}

.text_TerminalInline {
    font-size: 13px;
    line-height: 16px;
    color: #2645A3;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Source Code Pro;
    background-color: #EBF2FC;
    border-radius: 2px;
    height: 17px;
    padding: 2px;
    word-wrap: break-word;
}
