.small-row {
  background-color: var(--color-blueGrey);

  &:hover {
    background-color: var(--color-blueGreyDark);

    .conversation-gear,
    .conversation-timestamp {
      display: flex;
    }
  }

  &.selected {
    background-color: var(--color-blue);
  }

  .conversation-gear {
    display: none;
  }

  .conversation-timestamp {
    display: none;
  }
}
