.tab-container {
  background-color: var(--color-blueDark);
  flex-shrink: 0;
  width: 160px;

  .tab {
    flex-shrink: 0;
    height: 40px;
    .tab-icon {
      color: var(--color-blueDarkerOrBlack_85);
      margin-left: var(--size-medium);
      margin-right: var(--size-xsmall);
    }
    .tab-label {
      color: var(--color-blueLighter);
      flex-grow: 1;
    }
    .tab-highlight {
      width: 3px;
    }
  }

  .tab-selected {
    background-color: rgba(76, 142, 255, 0.4);
    color: #ffffff;
    flex-shrink: 0;
    height: var(--size-large);
    transition-duration: 0.4s;
    transition-property: background-color;
  }

  :is(.tab:hover, .tab-selected) .tab-icon {
    color: var(--color-white);
    margin-left: var(--size-medium);
    margin-right: var(--size-xsmall);
  }
  :is(.tab:hover, .tab-selected) .tab-label {
    color: var(--color-white);
    flex-grow: 1;
  }

  .tab-highlight {
    transition-property: background-color;
    transition-duration: 0.4s;

    .tab-highlight & {
      background-color: var(--color-white);
      width: 3px;
      border-radius: 2px;
    }
  }

  .tab-tooltip.tooltip:hover:before {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .tab-container {
    background-color: var(--color-redLighter);
  }
  
  .tab-container .tab .tab-label {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .tab-container .tab-selected {
    background-color: #1f1f1f;
  }
  
  .tab-container :is(.tab:hover, .tab-selected) .tab-icon {
    color: rgba(255, 255, 255, 0.85);
  }
  
  .tab-container :is(.tab:hover, .tab-selected) .tab-label {
    color: rgba(255, 255, 255, 0.85);
  }
  
  .tab-container .tab-highlight .tab-highlight {
    background-color: var(--color-blueDark);
  }
}

.darkMode .tab-container {
  background-color: var(--color-redLighter);
}

.darkMode .tab-container .tab .tab-label {
  color: rgba(255, 255, 255, 0.5);
}

.darkMode .tab-container .tab-selected {
  background-color: #1f1f1f;
}

.darkMode .tab-container :is(.tab:hover, .tab-selected) .tab-icon {
  color: rgba(255, 255, 255, 0.85);
}

.darkMode .tab-container :is(.tab:hover, .tab-selected) .tab-label {
  color: rgba(255, 255, 255, 0.85);
}

.darkMode .tab-container .tab-highlight .tab-highlight {
  background-color: var(--color-blueDark);
}
@media all and (max-width: 900px) and (min-width: 0px) {
  .tab-container {
    width: 80px;
    .tab {
      height: 48px;
    }
    .tab-selected {
      height: 48px;
    }
    :is(.tab-label, .username) {
      display: none !important;
    }
    .tab-tooltip.tooltip:hover:before {
      display: flex;
    }
  }
}
.tab-container.forceSmallNav {
  width: 80px;
  .tab {
    height: 48px;
  }
  .tab-selected {
    height: 48px;
  }
  :is(.tab-label, .username) {
    display: none !important;
  }
  .tab-tooltip.tooltip:hover:before {
    display: flex;
  }
}
