{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties"
  ],
  "overrides": [
    {
      "test": ["./**/*.ts", "./**/*.tsx"],
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-react"
      ]
    }
  ]
}
