{
  "presets": ['@babel/preset-env', '@babel/preset-react', '@babel/preset-typescript'],
  "plugins": ['@babel/plugin-proposal-object-rest-spread', '@babel/transform-flow-strip-types', '@babel/plugin-proposal-class-properties'
  ]
}