Name: @@NAME@@
Version: @@VERSION@@
Release: 1
Summary: Keybase command line client
License: BSD

%description
Keybase command line client

%install
mkdir -p "$RPM_BUILD_ROOT"
cp -r "@@BINARIES_PATH@@"/* "$RPM_BUILD_ROOT"

%files
/*

# The postinstall script gets appended below here.
%post -p /bin/bash
