Name: @@NAME@@
Version: @@VERSION@@
Release: 1
Summary: Keybase command line client
License: BSD
AutoReqProv: no
@@DEPENDENCIES@@

%description
Keybase command line client

%install
mkdir -p "$RPM_BUILD_ROOT"
cp -r "@@COPIED_BINARIES@@"/* "$RPM_BUILD_ROOT"

# The files list and postinstall script get appended below.
