{
  "presets": [
    [
      "env",
      {
        "targets": {
          "electron": 1.4
        },
        "loose": false,
        "debug": false,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-flow-strip-types",
    "syntax-flow",
    "syntax-jsx",
    "transform-react-display-name",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-es2015-classes",
    "babel-plugin-transform-runtime",
    "react-hot-loader/babel",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error"
        ]
      }
    ]
  ]
}
