{
  "presets": [
    [
      "env",
      {
        "targets": {
          "electron": 1.4
        },
        "loose": true,
        "debug": true,
        "useBuiltIns": false
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "babel-plugin-transform-runtime",
    "react-hot-loader/babel",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error"
        ]
      }
    ]
  ]
}
